body {
  background-color: lightgray;
}

.App {
}

.plantCycle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.plantEventContainer {
  display: flex;
  flex-direction: column;
}

.plantEvent {
  display: flex;
  flex-wrap: wrap;
}

.soak {
  background-color: darkgoldenrod;
}

.germination {
  background-color: yellow;
}

.grow {
  background-color: yellowgreen;
}

.soak,
.germination,
.grow {
  border-radius: 2px;
  border: 1px solid black;
  padding: 5px 6px;
  margin: 2px;
}

.visualWrapper {
  display: flex;
  flex-direction: column;

  min-height: 200px;
  width: 840px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 8px;
  background-color: white;
  border-radius: 2px;
}

.dayNumbers {
  display: flex;
  justify-content: flex-end;
}

.dayNumbers > div {
  border-radius: 2px;
  border: 1px solid black;
  margin: 2px;
  min-width: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.seven {
  background-color: whitesmoke;
}

.iconEvent:hover {
  cursor: pointer;
}

.controls {
  width: 840px;
  border: 1px solid black;
  margin: 24px auto;
  padding: 8px;
  background-color: white;
  border-radius: 2px;
}

.controls label {
  margin-bottom: 16px;
  display: inline-block;
  margin-right: 8px;
}

.controls button {
  margin: 8px
}

.ReactModal__Content--after-open {
  width: 300px;
  margin: 0 auto;
}
.clearIcon {
  float: right
}