.App {
}

.plantCycle {
  display: flex;
  flex-wrap: wrap;
}

.plantEventContainer {
  display: flex;
  flex-direction: column;
}

.plantEvent {
  display: flex;
  flex-wrap: wrap;
}

.soak {
  background-color: darkgoldenrod;
}

.germination {
  background-color: yellow;
}

.grow {
  background-color: yellowgreen;
}

.soak,
.germination,
.grow {
  border-radius: 2px;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 5px
}
