body {
  background-color: lightgray;
  background-image: url("https://image.freepik.com/free-photo/green-pattern-from-freshly-picked-natural-organic-microgreen-sprouted-against-white-table-super-food-concept_338799-329.jpg");
  color: rgba(0, 0, 0, 0.87);
}

.App {
  padding: 24px;
}

.timelineContainer {
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}
@media only screen and (min-width: 888px) {
  .timelineContainer {
    width: 840px;
    margin: 0 auto;
  }
}

.timelineContainer h1, 
.timelineContainer small {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  display: block;
  color: forestgreen;
}

.plantCycle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.plantCycle h3 {
  margin-right: 8px;
}

.plantEventContainer {
  display: flex;
  flex-direction: column;
}

.plantEvent {
  display: flex;
  flex-wrap: wrap;
}

.soak {
  background-color: #cddc39;
}

.germination {
  background-color: #8bc34a;
}

.grow {
  background-color: #4caf50;
}

.soak,
.germination,
.grow {
  border-radius: 2px;
  border: 1px solid black;
  padding: 5px 6px;
  margin: 2px;
}

.selectWrapper {
  width: 296px;
}

.overflowWrapper {
  width: 100%;
  overflow-x: scroll;
}

.visualWrapper {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 588px;
  max-width: 840px;
  margin: 0 auto 24px;
  padding: 8px;
}

.dayNumbers {
  display: flex;
  flex-direction: row-reverse;
}

.dayNumbers > div {
  border-radius: 2px;
  border: 1px solid black;
  margin: 2px;
  width: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.dayNumbers > div.seven {
  background-color: lightgray;
}

.dayNumbers > div.weekend {
  border-color: green;
  color: green;
}

.iconEvent:hover {
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  min-width: 588px;
  max-width: 840px;
  margin: 24px auto;
  padding: 0 16px;
}

@media only screen and (max-width: 600px) {
  .controls {
    flex-direction: column;
    align-items: center;
    min-width: auto;
  }
}

.controls > div {
  margin: 8px 0;
}

.controls label {
  margin-bottom: 24px;
  display: inline-block;
  margin-right: 8px;
  font-weight: bold;
}

.controls .input {
  padding: 4px;
    font-size: large;
}

.controls button {
  margin: 16px 16px 16px 0px;
  padding: 4px;
  font-size: medium;
}

.ReactModal__Content--after-open {
  width: 300px;
  margin: 0 auto;
}

.clearIcon {
  float: right;
  cursor: pointer;
}

.modalContent {
  float: left;
  width: 100%;
}

.modalBox p {
  display: flex;
  align-items: center;
}

.dayInformation {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dayInformation p {
  margin: 0;
}

.modalBox p svg {
  margin-right: 8px;
}

.clickable .plantEvent {
  display: flex;
  align-items: center;
}

.nonClickable {
  display: flex;
  align-items: center;
}
